// This file is created once by gopernicus and will NOT be overwritten.
// Customize entity types by adding methods or fields.

package eventoutbox

// EventOutbox is the domain entity for a event_outbox.
type EventOutbox struct{ GeneratedEventOutbox }

// CreateEventOutbox is the input for creating a event_outbox.
type CreateEventOutbox struct{ GeneratedCreateEventOutbox }

// Event types — add methods or fields by extending these structs.
