// This file is created once by gopernicus and will NOT be overwritten.
// Customize entity types by adding methods or fields.

package rebacrelationshipmetadata

// RebacRelationshipMetadata is the domain entity for a rebac_relationship_metadata.
type RebacRelationshipMetadata struct {
	GeneratedRebacRelationshipMetadata
}

// CreateRebacRelationshipMetadata is the input for creating a rebac_relationship_metadata.
type CreateRebacRelationshipMetadata struct {
	GeneratedCreateRebacRelationshipMetadata
}

// UpdateRebacRelationshipMetadata is the input for updating a rebac_relationship_metadata.
type UpdateRebacRelationshipMetadata struct {
	GeneratedUpdateRebacRelationshipMetadata
}

// Event types — add methods or fields by extending these structs.
