// This file is created once by gopernicus and will NOT be overwritten.
// Customize entity types by adding methods or fields.

package userpasswords

// UserPassword is the domain entity for a user_password.
type UserPassword struct{ GeneratedUserPassword }

// CreateUserPassword is the input for creating a user_password.
type CreateUserPassword struct{ GeneratedCreateUserPassword }

// UpdateUserPassword is the input for updating a user_password.
type UpdateUserPassword struct{ GeneratedUpdateUserPassword }

// Event types — add methods or fields by extending these structs.
