// This file is created once by gopernicus and will NOT be overwritten.
// Customize entity types by adding methods or fields.

package oauthaccounts

// OauthAccount is the domain entity for a oauth_account.
type OauthAccount struct{ GeneratedOauthAccount }

// CreateOauthAccount is the input for creating a oauth_account.
type CreateOauthAccount struct{ GeneratedCreateOauthAccount }

// UpdateOauthAccount is the input for updating a oauth_account.
type UpdateOauthAccount struct{ GeneratedUpdateOauthAccount }

// Event types — add methods or fields by extending these structs.
