// This file is created once by gopernicus and will NOT be overwritten.
// Customize entity types by adding methods or fields.

package verificationcodes

// VerificationCode is the domain entity for a verification_code.
type VerificationCode struct{ GeneratedVerificationCode }

// CreateVerificationCode is the input for creating a verification_code.
type CreateVerificationCode struct {
	GeneratedCreateVerificationCode
}

// UpdateVerificationCode is the input for updating a verification_code.
type UpdateVerificationCode struct {
	GeneratedUpdateVerificationCode
}

// Event types — add methods or fields by extending these structs.
